@import url('./__clock/timer__clock.css');
@import url('./__display-grp/clock__display-grp.css');
@import url('./__wrp/number-grp__wrp.css');
@import url('./num/num.css');
@import url('./number-grp/number-grp.css');


.timer {
    width: 15%;
    height: 15vw;

    margin: 0;
    padding: 0;

    display: block;
    position: absolute;
    color: white;
}
