@import url('../blocks/traffic-light-1/traffic-light.css');
@import url('../blocks/traffic-light-2/traffic-light.css');
@import url('../blocks/traffic-light-3/traffic-light.css');
@import url('../blocks/timer/timer.css');


@keyframes blink {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes blinkafter {
    0% {
      opacity: 0.08;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 0.08;
    }
}


body {
    font-family: 'Arimo', sans-serif;
}

a {
    pointer-events: none;
    cursor: default;
}

p {
    width: auto;
    display: table;
    margin: 0;
    font-size: 100px;
    line-height: 150px;
    font-weight: bold;
}

.hide {
    display: none;
}

.blink {
    animation: blink 1.66s ease-out infinite;
}

.blink-after {
    animation: blinkafter 1.66s ease-out infinite;
}